div{
    background-color:pink;
    
    }
    body{
    background-image: url("images/beach.jpg");
    background-repeat: no-repeat;
    background-position:right top ;
    background-attachment: fixed;
    }

div.first{
    opacity: 0.1;
}
div.second{
    opacity: 0.3;
}
div.third{
opacity: 0.9;
}