p.dotted {border-style: dotted;border-color:blueviolet;}
p.dashed {border-style: dashed;border-width:5px 20px;}
p.solid {border-style: solid;border-style:solid;border-color:red green blue orange}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}
p.four{border-style:dotted solid double dashed;text-align: center;}
p.three{border-style:dotted solid double;text-align:center;}
p.two{border-style:dotted solid;text-align: center;}
p.one{border-style:dotted;text-align: center;}
p.normal{border:2px solid darkblue}
p.round{border:2px solid darkblue;border-radius: 5px;}
p.rounder{border:2px solid darkblue;border-radius: 10px;}
p.roundest{border:2px solid darkblue;border-radius:15px;outline-style: solid;outline-color: red;}            