body{
    background-image: url("Images/images.jpg");
    background-size: cover;
}
            h1{
                text-align: center;
                color: rgb(238, 130, 238);
}
            input[type="tel"] {
                margin : 0 auto;
}
            input[type="submit"]
            {
                text-align: right;
       scroll-padding-left;:450px
}
            
            button[type="submit"]{
    display: block;
    margin : 0 auto;
    box-align:left ;
   }
