body{
    background-image: url("Images/images.jpg");
    background-size: cover;
}
h1{
text-align: center;
color: rgb(238, 130, 238);
}
img{

display: block;
margin-left: auto;
margin-right: auto;
height: 75px;
width: 75px;
}

input[type="text"] {
 display: block;
 margin : 0 auto;
}
button[type="submit"]{
display: block;
 margin : 0 auto;
}
.link1{
text-align: center;
display: block;
color: hsl(100%, 100%, 100%);
}
.link2{
text-align: center;
display: block;
color: hsl(0, 100%, 0%);
}

a {
padding-left: 5px;
color:rgb(238, 130, 238);
}
