p.overline{text-decoration:overline;}
p.line-through{text-decoration:line-through;}
p.underline{text-decoration: underline;}
p.uppercase{text-transform: uppercase;text-align:center ;}
p.lowercase { text-transform: lowercase;text-align: left; text-indent:10px}
p.capitalize {text-transform: capitalize;text-align: right;}
div{ border: 1px solid black;
     padding: 10px;
     width: 200px;
     height: 300px;
     text-align: justify;}
p.ex1{direction: rtl; unicode-bidi: bidi-override;} 
img.top{vertical-align: top;}
img.middle{vertical-align: middle;}
img.bottom{vertical-align:bottom ;} 
p.space{white-space: nowrap;
        word-spacing: 10px;
        line-height: 0.9;
        letter-spacing:1px ;
        text-indent:50px;
        text-shadow: 2px 2px 5px red;}
